/* *{
  box-sizing: border-box;
} */
.form {
  background-color:#f2f4f3;
  /* background: url("images/form-bg.jpg"); */
  background-position: center;
  background-size: cover;
  border-top: 5px solid #fb4c4c;
  border-bottom: 5px solid #fb4c4c;
  display: grid;
  grid-template-columns: auto auto;
  /* column-gap: 20px; */
  justify-content: space-around;
  align-items: center;
  
}
@media screen and (max-width:800px){
  .form {
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
  }
  .social-contact {
    display: flex;
    flex-direction: column;
  }
}

.contact-form {
  padding: 50px;
  display: grid;
  /* margin: 20px; */
  grid-template-rows: auto auto;
  /* border: 2px solid red; */
}

.contact-form h3 {
  /* border: 2px solid red; */
  font-size: 1.5rem;
  margin:  20px 0 ;
}
.contact-form-text p {
  /* border: 2px solid red; */
  font-size: 0.9rem;
  /* margin:  20px 0 20px 0; */
}
.contact-form h1 {
  padding: 0 0 5px 0;
}
.contact-form-text{
  /* border: 2px solid blueviolet; */
  text-align: center;
}

.reservation-form {
  /* border: 2px solid rgb(232, 31, 222); */
  padding: 50px;
  box-sizing: border-box;
  text-align: center;
}

.social-contact {
  /* border: 2px solid red; */
  padding: 10px;
  box-sizing: border-box;
  margin-top: 40px;
  text-align: center;
  /* display: flex; */
  display: grid;
  grid-template-columns: auto auto;
  /* column-gap: 40px; */
  color: white;
  /* justify-content: space-evenly; */
}

.mobile-contact {
  padding: 10px;
  /* border: 2px solid rgb(9, 0, 0); */
  background-color: rgb(233, 30, 54);
  border-radius: 10px;
  /* position: relative; */
  margin-right: 10px;
}
.email-contact {
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  /* position: relative; */
  background-color: rgb(233, 30, 54);

}
.reservation-form-set {
  position: relative;
}

input {
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  padding: 5px 15px 5px 15px;
  border: 4px solid red;
  /* height: 40%; */
}

textarea {
  width: 80%;
  text-align: center;
  border: 4px solid red;
  margin-top: 10px;
  padding: 5px;
}
.btn2 {
  margin: 50px;
  padding: 20px;
}
.btn2 {
  color: white;
  background-color: red;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 10px;
}
.btn2:hover {
  color: rgb(2, 40, 40);
}

